body {
    font-size: 15pt;
}
body {
    background: white;
}

.class {
    padding-right: 10px;
}

.class {
    background: white;
}
input {
    margin-left: 20px;
}

.class {
    padding-left: 0px;
}
.class {
    border-radius: 50px;
}
.class {
    width: 300px;
}
input {
    border: none;
}
input {
    outline: none;
}
/* input{
padding-right
} */
input {
    width: 200px;
}
input {
    margin-left: 35px;
}
input {
    margin-bottom: 10px;
}

input {
    padding-top: 6px;
}
input {
    padding-bottom: 10px;
}
input {
    margin-top: 6px;
}
label {
    padding-right: 0px;
}
.body {
    background: bisque;
}
.box {
    background: blue;
}
.box {
    padding: 10px;
}
span {
    color: white;
}
.TV {
    padding-left: 35px;
}
.hii {
    padding-bottom: 420px;
}

button {
    background: orange;
}
a {
    text-decoration: none;
}
.navbar {
    background: deepskyblue;
}
span {
    padding-right: 20px;
}
.a {
    padding-right: 1px;
}
.a {
    color: black;
}
.navbar {
    padding: 10px;
}
